@import "variables";

.contact{
  &-wrapper{
    max-width: 460px;
  }
  &__item{
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 0 0 rgba(255, 255, 255, 0.4);
    width: 99%;
    height: 35px;
    margin: 10px 0;
    font-family: RobotoSlab;
    color:  #aaa9a9;
    font-size: 16px;
    text-align: left;
    padding-left: 8px;
    &-message{
      height: 150px;
      resize: none;
      padding-top: 8px;
    }
  }
  &__button{
    border-radius: 3px;
    background-color:  #fcfaf7;
    box-shadow: 1px 3px 2px 0 rgba(0, 0, 0, 0.2);
    width: 140px;
    height: 35px;
    font-family: RobotoSlab;
    color:  $section__text-color-dark;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-left: 15px;
  }
}