@import "variables";

.portfolio{
  &-js{
    display: none;
  }
  &-wrapper{
    max-width: 920px;
    margin: 30px 0;
  }
  &__filter{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    &-label {
      font-family: RobotoSlab;
      color: $section__text-color-dark;
      font-size: 16px;
      text-align: left;
      margin: 0 28px 0 10px;
    }
    &-item{
      display: inline;
      font-family: RobotoSlab;
      color:  $section__text-color-dark;
      font-size: 12px;
      font-weight: 700;
      text-align: left;
      background:  #fbfaf6;
      padding: 4px 6px;
      position: relative;
      margin-right: 25px;
      margin-top: 10px;
      border-radius: 0 2px 2px 0;
      &:before{
        content: '';
        position: absolute;
        border: 12px solid transparent;
        border-right: 14px solid #fbfaf6;
        top: 0;
        left: -26px;
      }
    }
    &-active{
      display: inline;
      font-family: RobotoSlab;
      color: #fbfaf6 ;
      font-size: 12px;
      font-weight: 700;
      text-align: left;
      background:  $section__text-color-dark;
      padding: 4px 6px;
      position: relative;
      margin-right: 25px;
      border-radius: 0 5px 5px 0;
      &:before{
        content: '';
        border: 12px solid transparent;
        border-right: 14px solid $section__text-color-dark;
        top: 0;
        left: -26px;
      }

    }
  }
  &__img{
    width: 202px;
    height: 150px;
    margin: 4px;
    &-wrapper {
      float: left;
      border-radius: 3px;
      background-color: #fbfaf6;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
      width: 210px;
      height: 204px;
      margin: 10px;
    }
    &-comment{
      font-family: RobotoSlab;
      color:   $section__text-color-dark;
      font-size: 10px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      margin-top: -27px;
    }
  }
  &__sprite{
    border-radius: 50%;
    background-color: #fbfaf6;
    width: 88px;
    height: 88px;
    position: relative;
    margin-top: -36px;
    margin-left: 64px;
    transform: scale(0.5);
    &-photo{
      background-image: url(../img/sprite-portfolio.png);
      background-repeat: no-repeat;
      background-position: -136px 0;
      width: 46px;
      height: 48px;
    }
    &-clip{
      background-image: url(../img/sprite-portfolio.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 48px;
      height: 44px;
    }
    &-note{
      background-image: url(../img/sprite-portfolio.png);
      background-repeat: no-repeat;
      background-position: -68px 0;
      width: 48px;
      height: 46px;
    }
    &-sound{
      background-image: url(../img/sprite-portfolio.png);
      background-repeat: no-repeat;
      background-position: -202px 0;
      width: 49px;
      height: 48px;
    }
    &-tv{
      background-image: url(../img/sprite-portfolio.png);
      background-repeat: no-repeat;
      background-position: -271px 0;
      width: 52px;
      height: 38px;
    }
  }
  &__separator{
    background-color:  $section__text-color-dark;
    width: 40px;
    height: 2px;
    display: inline-block;
    margin-top: 5px;
  }
}