@import "variables";

.section{
  &--about-me-background{
    background: $section--about-me-background;
  }
  &--portfolio-background{
    background: $section--portfolio-background;
  }
  &--my-blog-background{
    background: $section--my-blog-background;
  }
  &--contact-me-background{
    background: $section--contact-me-background;
  }
  &-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__title {
    font-family: Bazar;
    text-transform: uppercase;
    text-align: center;
    margin-top: 75px;
    font-size: 85px;
    line-height: 22px;
    &-dark {
      color: $section__text-color-dark;
      text-shadow: 1px 2px 0 #fcfaf7, 3px 4px 0 $section__text-color-dark;
    }
    &-light{
      color: $section__text-color-light;
      text-shadow: 1px 2px 0 $section__text-color-dark, 3px 4px 0 #fcfaf7;
    }
  }
  &__separator-dark{
    font-family: Jura;
    position: relative;
    font-size: 20px;
    text-align: center;
    color: $section__text-color-dark;
    margin-top: 35px;
    font-weight: 900;
    text-shadow: 1px 0 0 $section__text-color-dark;
    &:before{
      content: "";
      position: absolute;
      height: 6px;
      border-bottom: 2px solid $section__text-color-dark;
      width: 35px;
      right: 40px;
      top: 12px;
    }
    &:after{
      content: "";
      position: absolute;
      height: 6px;
      border-bottom: 2px solid $section__text-color-dark;
      width: 35px;
      right: -43px;
      top: 12px;
    }
  }
  &__subtitle{
      text-transform: uppercase;
      font-family: Oswald;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin: 0 0 20px;
  &-dark {
    color: $section__text-color-dark;
    }
    &-light{
      color: $section__text-color-light;
    }
  }
  &__separator-light{
    font-family: Jura;
    position: relative;
    font-size: 20px;
    text-align: center;
    color: $section__text-color-light;
    margin-top: 35px;
    font-weight: 900;
    text-shadow: 1px 0 0 $section__text-color-light;
    &:before{
      content: "";
      position: absolute;
      height: 6px;
      border-bottom: 2px solid $section__text-color-light;
      width: 35px;
      right: 40px;
      top: 12px;
    }
    &:after{
      content: "";
      position: absolute;
      height: 6px;
      border-bottom: 2px solid $section__text-color-light;
      width: 35px;
      right: -43px;
      top: 12px;
    }
  }
  &__columns{
    max-width: 920px;
    margin: 20px 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__column{
    width: 23%;

  }
  &__circle{
    border-radius: 50%;
    background-color:  #d35244;
    position: relative;
    width: 180px;
    height: 180px;
    transform: scale(0.8);
    box-shadow: inset 0 0 0 6px #d35244, inset 0 0 0 12px #f5eee3 ;
    &:hover{
      box-shadow: inset 0 0 0 6px red, inset 0 0 0 12px #fff;
      background-color: red;
      transform: scale(1);
    }
  }
  &__end{
    font-family: Oswald;
    color:  $section__text-color-dark;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 7px 0 40px;
  }
}

