@import "variables";

.social{
  &-wrapper{
    margin: 10px 0 120px;
    width: 440px;
  }
  &__title{
    font-family: Bazar;
    color:  $section__text-color-light;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
  }
  &__separator{
    background-color:  $section__text-color-light;
    width: 40px;
    height: 2px;
  }
  &__circle{
    border-radius: 50%;
    background-color:  $section__text-color-light;
    width: 80px;
    height: 80px;
    box-shadow: inset 0 0 0 3px $section__text-color-light, inset 0 0 0 6px $section__text-color-dark;
    &:hover{
      box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 6px $section__text-color-dark;
      background-color:  #fff;
      transform: scale(1.1);
    }
  }
  &__sprite{
    background-image: url(../img/sprite-social.png);
    background-repeat: no-repeat;
    &-twitter{
      background-position: 0 0;
      width: 42px;
      height: 35px;
    }
    &-fb{
      background-position: -72px 0;
      width: 39px;
      height: 39px;
    }
    &-google{
      background-position: -140px 0;
      width: 42px;
      height: 42px;
    }
    &-pinterest{
      background-position: -212px 0;
      width: 41px;
      height: 40px;
    }
    &-linkedin{
      background-position: -279px 0;
      width: 39px;
      height: 37px;
    }
  }
}