$header__text-color: #f9ebd9;
$header__background: #74b5b5;
$section__text-color-light: #f6edd8;
$section__text-color-dark: #383a3c;
$section--about-me-background:#e6e1d0;
$section--portfolio-background: #e68966;
$section--my-blog-background: #e3e0dd;
$section--contact-me-background: #4c5057;
$burger-icon: 35px;
$burger--width-line: 50px;
$burger--height-line: 6px;
$burger--transition-time: 0.4s;
$burger--rotation: 45deg;
$burger--translateY: ($burger-icon / 2);
$burger--translateX: 0;